<%= form_with(model: prueba, local: true) do |form| %>
  <% if prueba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prueba.errors.count, "error") %> prohibited this prueba from being saved:</h2>

      <ul>
      <% prueba.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :prueba_name %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :prueba_tipo %>
  </div>

  <div class="field">
    <%= form.label :precio %>
    <%= form.text_field :precio, id: :prueba_precio %>
  </div>

  <div class="field">
    <%= form.label :fecha_vencimiento %>
    <%= form.date_select :fecha_vencimiento, id: :prueba_fecha_vencimiento %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
